<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.tanjundang.study">
    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" /> <!-- 8.0未知来源权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".knowledge.download.DownloadActivity"></activity>
        <activity
            android:name=".knowledge.camera.TakePictureActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 今日头条适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6c7a521fe6310d4900dd31b60f028e36" />

        <service android:name=".knowledge.service.CalcService" />
        <service
            android:name=".knowledge.service.BindService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".knowledge.broadcast.NetworkReceiver" />
        <receiver android:name=".knowledge.broadcast.NotifyReceiver">
            <intent-filter>
                <action android:name="io.tanjundang.study.NotifyReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".knowledge.jpush.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="io.tanjundang.study" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".knowledge.animation.AnimationActivity" />
        <activity android:name=".knowledge.drawerlayout.DrawerLayoutActivity" />
        <activity android:name=".knowledge.shape.ShapeActivity" />
        <activity android:name=".knowledge.selector.SelectorActivity" />
        <activity android:name=".knowledge.preference.SettingActivity" />
        <activity android:name=".knowledge.preference.PreSettingActivity" />
        <activity
            android:name=".knowledge.actionbar.ActionBarStudyActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".knowledge.intent.IntentActivity" />
        <activity android:name=".knowledge.launchmode.LaunchModeActivity" />
        <activity
            android:name=".knowledge.launchmode.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".knowledge.launchmode.SingleTaskActivity"
            android:label="SingleTask测试" />
        <activity
            android:name=".knowledge.launchmode.OneActivity"
            android:label="One"
            android:launchMode="singleTask" />
        <activity
            android:name=".knowledge.launchmode.TwoActivity"
            android:label="Two" />
        <activity
            android:name=".knowledge.launchmode.ThreeActivity"
            android:label="Three"
            android:launchMode="singleTop" />
        <activity
            android:name=".knowledge.launchmode.FourActivity"
            android:label="Four" />
        <activity
            android:name=".knowledge.launchmode.SingleTopActivity"
            android:label="SingleTop测试" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".knowledge.service.ServiceActivity" />
        <activity android:name=".knowledge.service.BindActivity" />
        <activity android:name=".knowledge.customview.CustomViewActivity" />

        <service
            android:name=".knowledge.service.RemoteService"
            android:process=":remote" />

        <activity android:name=".knowledge.service.RemoteActivity" />
        <activity android:name=".knowledge.viewpager.CustomTabActivity" />
        <activity android:name=".knowledge.viewpager.TabActivity" />
        <activity android:name=".knowledge.viewpager.SimpleTabActivity" />
        <activity android:name=".knowledge.webview.WebViewActivity" />
        <activity android:name=".knowledge.webview.NormalWebViewActivity" />
        <activity android:name=".knowledge.webview.JSWebViewActivity" />
        <activity android:name=".knowledge.scrollconflict.ScrollConflictActivity" />
        <activity
            android:name=".knowledge.socket.SocketStudyActivity"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:name=".knowledge.datepicker.DatePickerActivity" />
        <activity android:name=".knowledge.camera.CameraActivity" />
        <activity android:name=".knowledge.camera.CustomCameraActivity" />
        <activity
            android:name=".common.view.photopick.PhotoPickDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.view.photopick.PhotoPickActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".knowledge.databinding.DatabindingActivity" />
        <activity android:name=".knowledge.locate.LocationActivity" />
        <activity android:name=".knowledge.audio.AudioRecordActivity" />
        <activity android:name=".knowledge.ViewStubActivity" />
        <activity android:name=".knowledge.threadpool.ThreadPoolActivity" />
        <activity android:name=".knowledge.animation.SceneActivity" />
        <activity android:name=".knowledge.lrucache.LruCacheActivity" />
        <activity android:name=".knowledge.mvc.MVCActivity" />
        <activity android:name=".knowledge.greendao.DaoActivity" />
        <activity android:name=".knowledge.jpush.JpushActivity" />
        <activity android:name=".knowledge.camera.VideoRecordActivity" />
        <activity android:name=".knowledge.room.RoomActivity" />
        <activity android:name=".knowledge.kotlin.KotlinActivity" />
        <activity android:name=".knowledge.jetpack.JetPackActivity" />
        <activity android:name=".knowledge.jetpack.LifecycleActivity" />
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" /> <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="io.tanjundang.study" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.tanjundang.study.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider> <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="io.tanjundang.study.DataProvider"
            android:exported="false"
            android:process=":pushcore" /> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="io.tanjundang.study.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="io.tanjundang.study" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".jpush.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="io.tanjundang.study" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="io.tanjundang.study" />
            </intent-filter>
        </activity>

        <service
            android:name=".jpush.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />
    </application>

</manifest>