<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.tanjundang.study">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".knowledge.service.CalcService" />
        <service
            android:name=".knowledge.service.BindService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".knowledge.broadcast.NetworkReceiver" />
        <receiver android:name=".knowledge.broadcast.NotifyReceiver">
            <intent-filter>
                <action android:name="io.tanjundang.study.NotifyReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".knowledge.animation.AnimationActivity" />
        <activity android:name=".knowledge.drawerlayout.DrawerLayoutActivity" />
        <activity android:name=".knowledge.shape.ShapeActivity" />
        <activity android:name=".knowledge.selector.SelectorActivity" />
        <activity android:name=".knowledge.preference.SettingActivity" />
        <activity android:name=".knowledge.preference.PreSettingActivity" />
        <activity
            android:name=".knowledge.actionbar.ActionBarStudyActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".knowledge.intent.IntentActivity" />
        <activity android:name=".knowledge.launchmode.LaunchModeActivity" />
        <activity
            android:name=".knowledge.launchmode.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".knowledge.launchmode.SingleTaskActivity"
            android:label="SingleTask测试" />
        <activity
            android:name=".knowledge.launchmode.OneActivity"
            android:label="One"
            android:launchMode="singleTask" />
        <activity
            android:name=".knowledge.launchmode.TwoActivity"
            android:label="Two" />
        <activity
            android:name=".knowledge.launchmode.ThreeActivity"
            android:label="Three"
            android:launchMode="singleTop" />
        <activity
            android:name=".knowledge.launchmode.FourActivity"
            android:label="Four" />
        <activity
            android:name=".knowledge.launchmode.SingleTopActivity"
            android:label="SingleTop测试" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".knowledge.TestActivity" />
        <activity android:name=".knowledge.service.ServiceActivity" />
        <activity android:name=".knowledge.service.BindActivity" />
        <activity android:name=".knowledge.customview.CustomViewActivity" />

        <service
            android:name=".knowledge.service.RemoteService"
            android:process=":remote" />

        <activity android:name=".knowledge.service.RemoteActivity" />
        <activity android:name=".knowledge.viewpager.CustomTabActivity" />
        <activity android:name=".knowledge.viewpager.TabActivity" />
        <activity android:name=".knowledge.viewpager.SimpleTabActivity" />
        <activity android:name=".knowledge.webview.WebViewActivity" />
        <activity android:name=".knowledge.webview.NormalWebViewActivity" />
        <activity android:name=".knowledge.webview.JSWebViewActivity" />
        <activity android:name=".knowledge.scrollconflict.ScrollConflictActivity" />
        <activity
            android:name=".knowledge.socket.SocketStudyActivity"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:name=".knowledge.datepicker.DatePickerActivity" />
        <activity android:name=".knowledge.camera.CameraActivity" />
        <activity android:name=".knowledge.camera.CustomCameraActivity"></activity>

        <activity
            android:name=".common.view.photopick.PhotoPickDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.view.photopick.PhotoPickActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>